body {
    margin: 0;
    background-color: #0f1923;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;
}

header{
    background-color: #B51515;
  }

  #logo{
    position: absolute;
    width: 9%;
    height: auto;
    left: 3%;
  }

/*Navbbar*/
.nav nav {
    display: flex;
    justify-content: flex-end;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
}

.nav li {
    list-style-type: none;
    margin: 10px 50px;
}

.nav li > a{
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    background-color: #ece8e1;
    padding: 15px 25px 15px 25px;
    border-radius: 15px;
    color: #000;
}
h1{
    position: relative;
    text-align: center;
    color: #000;
}
p{
    position: relative;
    color: #000;
    text-align: center;
    font-weight: bold;
}

.img {
    position: relative;
    display: flex;
    margin-left: 37%;
    cursor: pointer;
}

#fb {
    width: 80%;
    height:auto;
    margin-left: -105%;
    margin-top: 0.5%;
}

#ig {
    width: 80%;
    height: auto;
    margin-top: -12%;
    margin-left: -40%;
}

#tiktok {
    width: 45%;
    height: auto;
    margin-top: 8%;
    margin-left: -80%;
}

.container {
    margin-top: 10%;
}